*{
	padding: 0;
	margin: 0;
}
.frist {
	height: 6%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background: #ff4342;
}

.frist>div {
	height: 100%;
	width: 20%;
}
.frist>.frist-left{
	width: 10%;
	height: 100%;
	width: 20%;
}
.frist .frist-left a {
	display: block;
	height: 100%;
	width: 70%;
	margin-right:10% ;
	background: url('../img/箭头.png') no-repeat center;
	background-size: contain;
}

.frist-center>a,
.frist-right>a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
}

.frist-center {
	padding-left:3% ;
	font-size: 55px;
	padding-top: 2%;
}

.frist-right {
	padding-right: 5%;
	padding-top: 3%;
	font-size: 45px;
}