*{
				padding: 0;
				margin: 0;
			}
			
			body,
			html {
				width: 100%;
				height: 100%;
			}
			
			.warp {
				width: 100%;
				height: 100%;
				background: url('../img/2A3AC7ED-187E-4005-8AA4-32CDAA35238B@3x.png') no-repeat center;
				
				position: absolute;
				left: 0;
			}
			.top-left{
				margin-top:  30%;
				margin-left:8%;
			}
			.bottom-right{
				margin-left: 27%;
				margin-top: 2%;
			}
			.warp ul {
				background: #FFFFFF;
				display: block;
				border-radius: 5px;
				height: 5%;
				width: 60%;
				border: 0px;
				margin: 0 auto;
				margin-top: 5%;
				margin-bottom: 12%;
				position: relative;
				border-radius:20px;
			}
			
			.warp ul li {
				height: 100%;
				width: 100%;
				line-height: 80px;
				font-size: 50px;
				position: absolute;
				text-align: center;
				list-style: none;
				display: none;
			}
			
			.warp .center {
				position: absolute;
				top:42%;
				width: 100%;
				height: 50%;
				overflow: hidden;
			}
			
			.warp .center>img {
				display: block;
				position: absolute;
			}
			
			
			
			@keyframes small {
				from {
					transform: scale(1);
				}
				to {
					transform: scale(2.6);
				}
			}
			
			.show {
				animation: small 0.4s infinite;
			}
			
			.end {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.2);
				position: absolute;
				display: none;
			}
			
			.end-img {
				margin-left: 5%;
				margin-top: 35%;
				width: 90%;
				height: 50%;
				background: url('../img/bg3.png') no-repeat center;
				background-size: contain;
				z-index: 2;
			}
			.end .end-img .text1{
				margin-top: 6%;
				margin-left:13%;
			}
			.end .end-img .text2{
				margin-top: 2%;
				margin-left:33%;
			}
			.end .end-img p {
				width: 100%;
				/*display: block;*/
				/*position: absolute;*/
				height: 70px;
				/*line-height: 70px;*/
				font-size: 40px;
				color: #F8E71C;
				text-align: center;
				padding: 10px 0;
				font-family: PingFangSC-Regular;
			}
			.end .end-img img{
				margin-top: 3%;
				margin-left: 30%;
			}
			.end .end-img .name {
				
				line-height: 70px;
				font-size: 50px;
			}
			
			.end .end-img .tele {
				text-align: center;
				line-height: 70px;
			}