* {
	padding: 0;
	margin: 0;
}

.body {
	min-width: 300px;
	width: 100%;
	background: #FF0000;
	padding-top: 30px;
}

.body .head {
	text-align: center;
	line-height: 100px;
	font-size: 60px;
	color: #FFF;
}

.head a {
	height: 80px;
	width: 150px;
	line-height: 80px;
	text-decoration: none;
	font-size: 50px;
	display: inline-block;
	color: #fff;
	position: absolute;
	right: 11%;
}

.body .titel {
	padding-top: 50px;
	background: url('../img/name/图层 18 拷贝@3x.png') no-repeat;
	background-size: 100% 500px;
	text-align: center;
	font-size: 48px;
	font-family: "微软雅黑";
	color: #ff0000;
}

.body .titel ul {
	width: 85.7%;
	background: url('../img/name/图层 12@3x.png')no-repeat center;
	background-size: 105% 100%;
	margin-top: 2%;
	margin-left: 7.6%;
}

.body .titel ul li {
	height: 170px;
	display: flex;
	flex-flow: row nowrap;
	color: #333333;
	background: url('../img/name/图层 12@3x.png')no-repeat center;
	background-size: 105% 100%;
	margin: 0 auto;
	font-size: 40px;
}

.body .titel ul li .right {
	width: 100%;
	padding-right: 7%;
	padding-left: 7%;
	margin: 5px;
}


/*ul li img {
				border-radius:50% ;
				min-width: 100px;
				max-width: 130px;
				width: 25%;
				height: 70%;
			   margin: 2%;	
			   margin-left: 5%;
			}*/

.right>div {
	line-height: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.right-bot {
	font-size: 30px;
	color: #888888;
}